/*===================================*/
/* General */
/*===================================*/
@font-face {
    font-family: Afterglow;
    src: url(../fonts/Afterglow-Regular.ttf);
}

a:link{
    text-decoration: none;
    color:black;
}
a:visited{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: none;
    color: black;
}
a:active{
    text-decoration: none;
    color: black;
}

/*===================================*/
/* Start-Page */
/*===================================*/
body, html {
    height: 100%;
    margin: 0;
}
.bg{
    /* The image used */
    background-image: url(../images/ezgif.com-gif-maker.png);
    /* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mainGridContainer{
    display: grid;
    grid-template-columns: repeat(3,36%);
    grid-template-rows: repeat(3,19%);
    width: 55vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 14%;
    grid-gap: 20px;
}


#mainGridContainer *{
    text-align: center;
    font-family: Afterglow;
    font-size: 31px;
    cursor: pointer;
}
#mainGridContainer * p{
    margin: 0;
    padding: 47px;
}


#imageItem{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    background-image: url(../images/nice-compliment-quote-1-picture-quote-1.jpg);
    background-size: contain;
    width: 396px;
    height: 414px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#item1{
    background-color: rgba(192, 223, 245, 0.75);
    border-radius: 20px;
}
#item2{
    background-color: rgba(172, 219,251, 0.75);
    border-radius: 20px;
}
#item3{
    background-color: rgba(172, 215, 245, 0.75);
    border-radius: 20px;
}
#item4{
    background-color: rgba(172, 215, 245, 0.75);
    border-radius: 20px;
}
#item5{
    background-color: rgba(160, 211, 244, 0.75);
    border-radius: 20px;
}
#item6{
    background-color: rgba(160, 211, 244, 0.75);
    border-radius: 20px;
}


/*===================================*/
/* Sub-Page */
/*===================================*/

#subPageGridContainer{
    display: grid;
    grid-template-columns: repeat(3,36%);
    grid-template-rows: repeat(3,19%);
    width: 55vw;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    grid-gap: 20px;
}
#subPageGridContainer *{
    text-align: center;
    font-family: Afterglow;
    font-size: 31px;
    cursor: pointer;
}
#subPageGridContainer * p{
    margin: 0;
    padding: 47px;
}

/*===================================*/
/* breathing-Page */
/*===================================*/
#breathingCircle{
    width: 200px;
    height: 200px;
    background-color: rgba(160, 211, 244, 0.75);
    border-radius: 100px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: Afterglow;
    font-size: 31px;
    cursor: pointer;
}

#breathingCircle p{
    margin: 0;
    padding-top: 80px;
}

  
.movingCircle{
    width: 30px;
    height: 30px;
    background: cyan;
    border-radius: 50%;
    position: absolute;
    top: 606px;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 6s linear infinite;
}

@keyframes circle{
    0%{
        transform:rotate(90deg)
                translate(-120px)
                rotate(0deg);
    }
    100%{
        transform:rotate(450deg)
                translate(-120px)
                rotate(-360deg);
    }
}
